{% load staticfiles %}
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
        <div class='container'>
            <a href='/books'>Home</a> | 
            <a href = '/books/new'>Add a book and a review</a> | 
            <a href="/users/logout">logout</a> | 
            
            <h3>Welcome, {{current_user.name}}</h3>
            {%if user%}
                <h3>User Alias: {{user.alias}} </h3>
                Name: {{user.name}}<br/>
                Email: {{user.email}}<br/>

                Total Reviews: 
                <h4>Posted Reviews on the following books</h4>
            
            {%endif%}  
        </div>
    </body>
</html>